
*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: lightgoldenrodyellow;
    border: solid;
    margin: auto;
    max-width: 1440px;
}

img{
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

nav{
    height: 100px;
    border-bottom: solid;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    max-width: 1440px;
}

.container {
	display:flex;
	flex-wrap: wrap;
	align-items:stretch;
	justify-content:space-between;
	margin: auto;
	max-width: 1440px;
	padding: 20px;
}

.card{
    max-width: 100%;
    width: 300px;
    margin: 10px;
    background-color: lightgreen;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 4px;
    overflow: hidden;
}

.cardHead{
	height: 150px;
	width: 100%;
}

.cardBody{
    padding: 30px;
}

h2 {
    margin-top: 0;
}

